In [1]:
import pandas as pd

#### appending rows using 'append'

In [19]:
df = pd.DataFrame(columns = ['Product', 'Price'])
df

Empty DataFrame
Columns: [Product, Price]
Index: []

from dictionary

In [20]:
df = df.append({'Product':'Kit Kat', 'Price':5.0}, ignore_index=True)
df = df.append({'Product':'Snickers', 'Price':5.0}, ignore_index=True)
df

    Product  Price
0   Kit Kat    5.0
1  Snickers    5.0

from series

In [21]:
df = df.append(pd.Series(['Mars', 5.0], index=['Product', 'Price']), ignore_index=True)
df

    Product  Price
0   Kit Kat    5.0
1  Snickers    5.0
2      Mars    5.0

#### appending row using index

In [22]:
df.loc[len(df)] = ['Almond Candy', 1.0]
df

        Product  Price
0       Kit Kat    5.0
1      Snickers    5.0
2          Mars    5.0
3  Almond Candy    1.0

In [23]:
df.loc[len(df)] = {'Product':'Chocolate Candy', 'Price':1.5}
df

           Product  Price
0          Kit Kat    5.0
1         Snickers    5.0
2             Mars    5.0
3     Almond Candy    1.0
4  Chocolate Candy    1.5

#### Appending column

In [24]:
df["Popularity"] = [4.5, 4, 5, 4, 3.5]
df

           Product  Price  Popularity
0          Kit Kat    5.0         4.5
1         Snickers    5.0         4.0
2             Mars    5.0         5.0
3     Almond Candy    1.0         4.0
4  Chocolate Candy    1.5         3.5

#### appending row to an empty data frame(with column names and index)

In [26]:
df_ = pd.DataFrame(columns=['Product', 'Price'], index=['a', 'b'])
df_

  Product Price
a     NaN   NaN
b     NaN   NaN

In [28]:
df_.loc['a'] = ['Mars', 5.0]
df_

  Product Price
a    Mars     5
b     NaN   NaN